doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title= title
		link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/global.css")
		block stylesheets
	body
		
		block content

		script(src="/jquery/dist/jquery.min.js", type="text/javascript")
		script(src="/bootstrap/dist/js/bootstrap.min.js", type="text/javascript")
		block javascripts