extends layout

block stylesheets

block javascripts
	script(src="/jquery/dist/jquery.min.js")
	script(src="/socket.io/socket.io.js")

block content

	block greeting
		h1= "Welcome to your MeetUp!"

	#messages

	form#toolbar(autocomplete="off")
		label(for="message") Message:     
		input#message(name="message", type="text")
		input#send(type="submit", value="Send")

	block logic