extends layout

block javascripts
	script(src="/jquery/dist/jquery.min.js")
	script(src="/socket.io/socket.io.js")

block content

	if (mode === 'public') 
		h1= "Welcome to your public MeetUp!"
	else if (mode === 'private') 
		h1= "Welcome to your private MeetUp!"

	#messages

	form#input
		label(for="message") Message:     
		input#message(name="message", type="text")
		input(type="submit", value="Send")

	script.
		var socket = io();

		$("#input").submit(function (e){
			socket.emit('message', $("#message").val());
			e.preventDefault();
		})