extends layout

block stylesheets

block content

	block greeting
		h1= "Welcome to your MeetUp!"

	#chatHistory

	form(autocomplete="off", onsubmit="return false;")
		label(for="message") name:     
		input#message(name="message", type="text")
		button#send(type="button") set

block javascripts
	script(src="/socket.io/socket.io.js")
	block logic